body {
  margin: 0;
  padding: 0;
  background-color: #f3f1f1;
}

.icon-list {
  padding-left: 0;
  list-style-type: none;
}

.list-item {
  background-color: #fff;
  text-align: center;
  min-height: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.list-item__icon {
  font-size: 50px;
}

.list-item__name {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d1d1d1;
  border-radius: 0 0 20px 20px;
  padding: 5px 0;
  font-weight: 500;
}
